/* Defaults */
:root {
  --font-family: Ubuntu;
  --font-family-monospace: Ubuntu Mono;
}

/* Theme colors */
:root {
  --background-color: #1a1a1a;

  --title-text-color: #f4f4f4;
  --regular-text-color: #c8c8c8;
  --title-font-size: 36px;
  --subtitle-font-size: 16px;
  --main-text-font-size: 14px;
  --promo-text-font-size: 24px;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  color: var(--regular-text-color);
  background-color: var(--background-color);
}

h1,
h2 {
  color: var(--title-text-color);
}

body,
div,
p {
  line-height: 20px;
  font-size: var(--main-text-font-size);
  font-weight: 300;
}

li {
  line-height: 1.5;
}

a[href] {
  color: var(--title-text-color);
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

h1 {
  font-size: var(--title-font-size);
}

h2 {
  font-weight: 700;
  font-size: var(--subtitle-font-size);
  line-height: 25px;
}

.content {
  max-width: 80em;
  padding: 0;
  margin: 0 auto;
  padding-left: 280px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: #1e1e1e;
}

.menu ul {
  list-style-type: none;
}

.menu__items {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -36px;
}

.menu__item[href],
.menu__item[href]:hover {
  color: #fff;
  line-height: 32px;
}

.menu__subitem[href],
.menu__subitem[href]:hover {
  color: var(--regular-text-color);
  line-height: 32px;

  padding-left: 16px;
}

.menu__logo {
  width: 140px;
  margin-top: 36px;
}

.menu__logo_hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.menu__logo_visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}

.header {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo {
  height: 130px;
  width: 270px;

  margin-right: 40px;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 580px;
  padding: 30px;

  font-family: monospace;
  font-size: var(--main-text-font-size);

  background-color: #272727;
}

.header__command {
  color: #0495BC;
}

.header__typing {
  width: 57ch;
  animation: typing 3s steps(57), blink .4s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: var(--main-text-font-size);
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.text-block {
  min-height: 200px;
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
  justify-content: center;

  font-size: var(--promo-text-font-size);
  line-height: 30px;
}

.content-block {
  margin-bottom: 60px;
}

.tech-stack {
  display: flex;
  justify-content: space-between;
}

.stack-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack-icon__img {
  margin-bottom: 10px;
}

.info {
  display: flex;
}

.info__img_left {
  height: 280px;
  margin-right: 60px;
}

.info__img_right {
  height: 280px;
  margin-left: 60px;
}

.info__text_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__text_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.accordion {
  border-top: 1px solid #525252;
}

.accordion__summary {
  height: 48px;
  padding-top: 12px;

  color: var(--title-text-color);
  font-size: var(--promo-text-font-size);
}

.accordion__text {
  margin-top: 8px;
  padding-left: 24px;
}
