:root {
  --font-family: Ubuntu;
  --font-family-monospace: Ubuntu Mono;
  --tablet: 768px;

  --background-color: #1a1a1a;
  --title-text-color: #f4f4f4;
  --regular-text-color: #c8c8c8;
  --h1-font-size: 36px;
  --h2-font-size: 24px;
  --h3-font-size: 20px;
  --main-text-font-size: 16px;
  --promo-text-font-size: 24px;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  color: var(--regular-text-color);
  background-color: var(--background-color);
  line-height: 25px;
}

h1,
h2,
h3,
b,
strong {
  color: var(--title-text-color);
}

body,
div,
p {
  font-size: var(--main-text-font-size);
  font-weight: 300;
}

p {
  margin-bottom: 30px;
}

li {
  line-height: 1.5;
}

a[href] {
  color: var(--title-text-color);
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  font-weight: 300;

  display: flex;
  align-items: center;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 40px;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 28px;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 24px;
}

footer {
  margin-top: 60px;
}

.content {
  width: 900px;
  margin-left: 440px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: #1e1e1e;
}

.menu ul {
  list-style-type: none;

  margin-block-start: 0;
  padding-inline-start: 0;

  width: 100%;
}

.menu__home-link {
  width: 70%;
}

.menu__items {
  width: 70%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item[href],
.menu__item[href]:hover {
  font-size: 14px;;
  color: #fff;
  line-height: 40px;
}

.menu__subitem[href],
.menu__subitem[href]:hover {
  font-size: 14px;;
  color: #848484;
  line-height: 40px;

  padding-left: 16px;
}

.menu__logo {
  width: 140px;
  height: 70px;
  margin-top: 36px;
}

.menu__logo_hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.menu__logo_visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}

.menu__social-icons {
  width: 70%;
  margin-bottom: 34px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons__icon:hover path {
  fill: #53C1DE;
}

.header {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo {
  height: 130px;
  width: 270px;

  margin-right: 40px;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 540px;
  padding: 30px;

  font-family: monospace;
  font-size: var(--main-text-font-size);

  background-color: #272727;
}

.header__command {
  color: #53C1DE;
}

.header__typing {
  width: 57ch;
  animation: typing 3s steps(57), blink .4s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: var(--main-text-font-size);
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.text-block {
  min-height: 200px;
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
  justify-content: center;

  font-size: var(--promo-text-font-size);
  line-height: 30px;
}

.content-block {
  margin-bottom: 60px;
}

.info-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  width: 100%;

  background: #1E1E1E;
  border: 1px solid #525252;
  padding: 30px;
}

.stack-icons {
  margin-top: 15px;
}

.stack-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 76px;
}

.stack-icon__img {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.info_left,
.info_right {
  display: flex;
}

.info__img_left {
  height: 280px;
  width: 280px;
  margin-right: 60px;
}

.info__img_right {
  height: 280px;
  width: 280px;
  margin-left: 60px;
}

.info__text_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__text_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.info__text_right > h1 {
  justify-content: right;
}

.accordion {
  border-top: 1px solid #525252;
}

.accordion__summary {
  height: 48px;
  padding-top: 8px;
  font-size: var(--h2-font-size);
}

.accordion__summary > h2 {
  display: contents;
}

.accordion__text {
  margin-top: 8px;
  padding-left: 24px;
}

.separator {
  width: 100%;

  border-top: 1px solid #525252;
}

.founder {
  display: flex;
  flex-direction: row;

  margin-bottom: 34px;
}

.founder__photo {
  height: 196px;
  width: 160px;

  border: 1px solid #525252;
  padding: 10px;
}

.founder__info {
  margin-left: 46px;
}

.founder__name {
  line-height: 0;
}

.founder__position {
  font-size: 14px;
}

.founder__description {
  margin-top: 30px;
}

.peace {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
}

.peace__img {
  width: 82px;
  height: 90px;

  margin: 50px;
}

.peace__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px; 
}

.peace__subtext {
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer__contacts {
  width: 100%;

  font-size: 24px;
  line-height: 30px;
}

.footer__social-icons-container {
  display: none;
}

.footer__social-icons {
  width: 345px;
}

.footer__logo-container {
  width: 100%;
  margin-top: 46px;

  display: flex;
  justify-content: center;
}

.footer__logo {
  filter: grayscale(1)
}

.footer__logo:hover {
  filter: none;
}

.text-icon {
  width: 48px;
  height: 48px;

  margin-right: 28px;
}

@media (max-width: 768px) {
  .content {
    max-width: 100%;
    margin: 0;
    padding: 20px;
  }

  .menu {
    display: none;
  }

  .stack-icons {
    grid-template-columns: repeat(4,1fr);
    display: grid;
  }

  .stack-icon {
    margin: 5px;
  }

  .stack-icon div {
    font-size: 14px;
  }

  .header {
    flex-direction: column;
  }

  .header__logo {
    margin: 0 0 60px 0;
  }
  
  .header__text {
    min-width: 360px;
    line-height: 1.4;
    padding: 10px;
  }

  .header__text div {
    font-size: 10px;
  }

  .footer__social-icons-container {
    display: flex;
    justify-content: center;

    margin-top: 40px;
  }

  .info-frame {
    padding: 15px;
  }

  .info_left,
  .info_right {
    display: flex;
    align-items: center;
  }

  .info_left {
    flex-direction: column;
  }

  .info_right {
    flex-direction: column-reverse;
  }

  .info__text_right {
    text-align: left;
  }

  .info__text_right > h1 {
    justify-content: initial;
  }

  .info__img_left,
  .info__img_right {
    margin: 0;
  }

  .founder {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .founder__info {
    margin: 0;
  }

  .footer__logo {
    filter: none;
  }
}

