/* Defaults */
:root {
  --font-family: Ubuntu;
  --font-family-monospace: Ubuntu Mono;
}

/* Theme colors */
:root {
  --background-color: #1a1a1a;

  --text-color: #f4f4f4;
  --menu-text-color: #c8c8c8;
  --title-font-size: 36px;
  --subtitle-font-size: 16px;
  --main-text-font-size: 14px;
  --promo-text-font-size: 24px;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

body,
div,
p {
  line-height: 20px;
  font-size: var(--main-text-font-size);
  font-weight: 300;
}

html {
  overflow-y: scroll;
}

li {
  line-height: 1.5;
}

a[href] {
  color: var(--text-color-link);
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

h1 {
  font-size: var(--title-font-size);
}

h2 {
  font-weight: 700;
  font-size: var(--subtitle-font-size);
  line-height: 25px;
}

.content {
  max-width: 80em;
  padding: 0;
  margin: 0 auto;
  padding-left: 280px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;

  display: flex;
  align-items: center;

  background-color: #1e1e1e;
}

.menu ul {
  list-style-type: none;
}

.menu__item[href],
.menu__item[href]:hover {
  color: var(--menu-text-color);
}

.menu__subitem[href],
.menu__subitem[href]:hover {
  color: var(--menu-text-color);

  padding-left: 16px;
}

.logo-container {
  width: 100%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  height: 180px;
  max-width: 320px;
}

.text-block {
  min-height: 200px;
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
  justify-content: center;

  font-size: var(--promo-text-font-size);
  line-height: 30px;
}

.content-block {
  margin-bottom: 20px;
}

.tech-stack {
  display: flex;
  justify-content: space-between;
}

.stack-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack-icon__img {
  margin-bottom: 10px;
}

.info {
  display: flex;
}

.info__img_left {
  height: 280px;
  margin-right: 60px;
}

.info__img_right {
  height: 280px;
  margin-left: 60px;
}

.info__text_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__text_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.accordion {
  border-top: 1px solid #525252;
}

.accordion__summary {
  height: 48px;
  padding-top: 12px;

  font-size: var(--promo-text-font-size);
}

.accordion__text {
  margin-top: 8px;
  padding-left: 24px;
}
