---
layout: layouts/home.njk
---
{% from 'stack-icon.njk' import stackIcon %}
{% from 'info.njk' import info %}

<header class="header">
  <img src="img/logo.png" class="header__logo" alt="logo" />

  <div class="header__text">
      <div>>&nbsp;<strong class="header__command">whoami</strong></div>
      <div>Space Twistie develops custom web applications of any complexity to meet your unique business needs. We specialize in outsourcing services and provide expert assistance to help you achieve your goals.</div>
      <div>
        <div class="header__typing">
          <span>
            >&nbsp;<strong class="header__command">develop-a-project&nbsp;</strong>
            <strong>--expertise&nbsp;</strong>
            <strong>--transparency&nbsp;</strong>
            <strong>--quality&nbsp;</strong>
          </span>
        </div>
      </div>
  </div>
</header>


<div class="content-block">
  <div class="text-block">
    <h1>Our Technology Stack</h1>
    <p>We provide expertly-formed engineering teams that can either strengthen your existing engineering department or take full responsibility for the technical aspects of your web application development.</p>
  </div>

  <div class="tech-stack content-block">
    {{ stackIcon("img/js-logo.svg", "JavaScript") }}
    {{ stackIcon("img/ts-logo.svg", "TypeScript") }}
    {{ stackIcon("img/node-js-logo.svg", "Node.js") }}
    {{ stackIcon("img/react-logo.svg", "React.js") }}
    {{ stackIcon("img/vue-logo.svg", "Vue.js") }}
    {{ stackIcon("img/java-logo.svg", "Java") }}
    {{ stackIcon("img/kotlin-logo.svg", "Kotlin") }}
    {{ stackIcon("img/spring-logo.svg", "Spring") }}
  </div>
</div>

<div class="content-block">
  <div class="content-block" id="team-outsourcing">
    {{ info("img/team-outsourcing.png", "Team Outsourcing", "We provide expertly-formed engineering teams that can either strengthen your existing engineering department or take full responsibility for the technical aspects of your web application development.") }}
  </div>
  {% accordion "How We Work" %}
    {% include "main-page/how-we-work.njk" %}
  {% endaccordion%}
  {% accordion "How We Are Different", "how-we-are-different" %}
    {% include "main-page/how-we-are-different.njk" %}
  {% endaccordion%}
</div>

<div class="content-block">
  <div class="content-block" id="audit-consulting">
    {{ info("img/audit-and-consulting.png", "Audit and Consulting", "We provide expertly-formed engineering teams that can either strengthen your existing engineering department or take full responsibility for the technical aspects of your web application development.", "right") }}
  </div>
  {% accordion "Audit", "audit" %}
    {% include "main-page/audit.njk" %}
  {% endaccordion%}
  {% accordion "Consulting", "consulting" %}
    {% include "main-page/consulting.njk" %}
  {% endaccordion%}
</div>

<div class="content-block">
  <div class="content-block" id="about-us">
    {{ info("img/about-us.png", "About Us", "We provide expertly-formed engineering teams that can either strengthen your existing engineering department or take full responsibility for the technical aspects of your web application development.") }}
  </div>
  {% accordion "Who we are", "who-we-are" %}
    <h1>test</h1>
  {% endaccordion%}
  {% accordion "Our Mission", "our-mission" %}
    <h1>test</h1>
  {% endaccordion%}
</div>


<div class="text-block" id="contact-us">
	<h1>Contact Us</h1>
	<p>We provide expertly-formed engineering teams that can either strengthen your existing engineering department or take full responsibility for the technical aspects of your web application development.</p>
</div>