---
layout: layouts/home.njk
---
{% from 'stack-icon.njk' import stackIcon %}
{% from 'info.njk' import info %}

<div class="text-block">
	Space Twistie develops custom web applications of any complexity to meet your unique business needs. We specialize in outsourcing services and provide expert assistance to help you achieve your goals.
</div>

<div class="text-block">
	<h1>Our Technology Stack</h1>
	<p class="text">We provide expertly-formed engineering teams that can either strengthen your existing engineering department or take full responsibility for the technical aspects of your web application development.</p>
</div>

<div class="tech-stack content-block">
	{{ stackIcon("img/js-logo.svg", "JavaScript") }}
	{{ stackIcon("img/ts-logo.svg", "TypeScript") }}
	{{ stackIcon("img/node-js-logo.svg", "Node.js") }}
	{{ stackIcon("img/react-logo.svg", "React.js") }}
	{{ stackIcon("img/vue-logo.svg", "Vue.js") }}
	{{ stackIcon("img/java-logo.svg", "Java") }}
	{{ stackIcon("img/kotlin-logo.svg", "Kotlin") }}
	{{ stackIcon("img/spring-logo.svg", "Spring") }}
</div>

<div class="content-block">
  <div class="content-block">
    {{ info("img/team-outsoursing.png", "Team Outsourcing", "We provide expertly-formed engineering teams that can either strengthen your existing engineering department or take full responsibility for the technical aspects of your web application development.") }}
  </div>
  {% accordion "How We Work" %}
    <h1>test</h1>
  {% endaccordion%}
  {% accordion "What Sets Us Apart" %}
    <h1>test</h1>
  {% endaccordion%}
</div>

<div class="content-block">
  <div class="content-block">
    {{ info("img/audit-and-consulting.png", "Audit and Consulting", "We provide expertly-formed engineering teams that can either strengthen your existing engineering department or take full responsibility for the technical aspects of your web application development.", "right") }}
  </div>
  {% accordion "Audit" %}
    <h1>test</h1>
  {% endaccordion%}
  {% accordion "Consulting" %}
    <h1>test</h1>
  {% endaccordion%}
</div>

<div class="content-block">
  <div class="content-block">
    {{ info("img/about-us.png", "About Us", "We provide expertly-formed engineering teams that can either strengthen your existing engineering department or take full responsibility for the technical aspects of your web application development.") }}
  </div>
  {% accordion "Who we are" %}
    <h1>test</h1>
  {% endaccordion%}
  {% accordion "Our Mission" %}
    <h1>test</h1>
  {% endaccordion%}
</div>


<div class="text-block">
	<h1>Contact Us</h1>
	<p class="text">We provide expertly-formed engineering teams that can either strengthen your existing engineering department or take full responsibility for the technical aspects of your web application development.</p>
</div>