---
layout: layouts/home.njk
---
{% from 'main-page/stack-icon.njk' import stackIcon %}
{% from 'info.njk' import info %}

<header class="header">
  <img src="img/logo.svg" class="header__logo" alt="logo" />

  <div class="header__text">
      <div><b>>&nbsp;</b><strong class="header__command">whoami</strong></div>
      <div>Space Twistie develops custom web applications of any complexity to meet your unique business needs. We specialize in outsourcing services and provide expert assistance to help you achieve your goals.</div>
      <div>
        <div class="header__typing">
          <span><b>>&nbsp;</b><strong class="header__command">develop-a-project&nbsp;</strong><strong>--expertise&nbsp;</strong><strong>--transparency&nbsp;</strong><strong>--quality&nbsp;</strong></span>
        </div>
      </div>
  </div>
</header>


<div class="content-block">
  <div class="text-block">
    <h1>Our Technology Stack</h1>
    <p>Our engineers understand the fundamental principles of how technologies work in detail, so they can always find the most efficient solution.</p>
  </div>

  <div class="info-frame content-block stack-icons">
    {{ stackIcon("img/js-logo.svg", "JavaScript") }}
    {{ stackIcon("img/ts-logo.svg", "TypeScript") }}
    {{ stackIcon("img/node-js-logo.svg", "Node.js") }}
    {{ stackIcon("img/react-logo.svg", "React.js") }}
    {{ stackIcon("img/vue-logo.svg", "Vue.js") }}
    {{ stackIcon("img/java-logo.svg", "Java") }}
    {{ stackIcon("img/kotlin-logo.svg", "Kotlin") }}
    {{ stackIcon("img/spring-logo.svg", "Spring") }}
  </div>
</div>

<div class="content-block">
  <div class="content-block" id="team-outsourcing">
    {{ info("img/team-outsourcing.avif", "Team Outsourcing", "We provide expertly-formed engineering teams that can either strengthen your existing engineering department or take full responsibility for the technical aspects of your web application development.") }}
  </div>
  {% accordion "How We Work", 'how-we-work' %}
    {% include "main-page/how-we-work.njk" %}
  {% endaccordion%}
  {% accordion "How We Are Different", "how-we-are-different" %}
    {% include "main-page/how-we-are-different.njk" %}
  {% endaccordion%}
</div>

<div class="content-block">
  <div class="content-block" id="audit-consulting">
    {{ info("img/audit-and-consulting.avif", "Audit and Consulting", "With our expertise, we can offer you an audit and subsequent consulting in both the technical aspects of web application development and team collaboration processes at different levels.", "right") }}
  </div>
  {% accordion "Audit", "audit" %}
    {% include "main-page/audit.njk" %}
  {% endaccordion%}
  {% accordion "Consulting", "consulting" %}
    {% include "main-page/consulting.njk" %}
  {% endaccordion%}
</div>

<div class="content-block" id="about-us">
  <div class="content-block">
    {{ info("img/about-us.avif", "About Us", "We are a team of highly skilled professionals with over a decade of experience in web application development. Our unique expertise has been gained through years of working on a diverse range of projects, both as part of product teams and in outsourcing.") }}
  </div>
  <div class="separator"></div>
  {% include "main-page/founders.njk" %}
</div>

<div class="content-block">
  <div class="separator"></div>
  {% include "main-page/peace.njk" %}
  <div class="separator"></div>
</div>

{% include "footer.njk" %}