<footer>
  <div class="content-block" id="contact-us">
    {{ info("img/contact-us", "Contact Us", "If you require our services or have any ideas for collaboration, we would be delighted to have a conversation with you.", "right") }}
  </div>

  <div class="info-frame">
    <span class="footer__contacts">
      You can reach out to us by emailing <a href="mailto:go@spacetwistie.com">go@spacetwistie.com</a></br>or by connecting with us in real-time via <a href="https://www.facebook.com/spacetwistie" target="_blank">Facebook</a>.
    </span>
  </div>

  <div class="footer__social-icons-container">
    <div class="footer__social-icons">
      {% include "social-icons.njk" %}
    </div>
  </div>

  <div class="footer__logo-container">
    <a href="/" aria-label="Home Page"><img src="img/circle-logo.svg" alt="circle logo" class="footer__logo"/></a>
  </div>
</footer>
