<nav class="menu">
  <ul>
    <li><a href="/test" class="menu__item">Space Twistie</a></li>
    <li><a href="/test" class="menu__item">Team Outsoursing</a></li>
    <li><a href="/test" class="menu__subitem">How We Work</a></li>
    <li><a href="/test" class="menu__subitem">What Sets Us Together</a></li>
    <li><a href="/test" class="menu__item">Audit and Consulting</a></li>
    <li><a href="/test" class="menu__subitem">Audit</a></li>
    <li><a href="/test" class="menu__subitem">Consulting</a></li>
    <li><a href="/test" class="menu__item">About Us</a></li>
    <li><a href="/test" class="menu__subitem">Who We Are</a></li>
    <li><a href="/test" class="menu__subitem">Our Mission</a></li>
    <li><a href="/test" class="menu__item">Contact Us</a></li>
  </ul>
</nav>