<nav class="menu">
  <a href="/"><img src="img/logo.svg" class="menu__logo menu__logo_hidden" alt="logo" /></a>
  <div class="menu__items">
    <ul>
      <li><a href="/" class="menu__item">Space Twistie</a></li>
      <li><a href="/#team-outsourcing" class="menu__item">Team Outsourcing</a></li>
      <li><a href="/#how-we-work" class="menu__subitem">How We Work</a></li>
      <li><a href="/#how-we-are-different" class="menu__subitem">How We Are Different</a></li>
      <li><a href="/#audit-consulting" class="menu__item">Audit and Consulting</a></li>
      <li><a href="/#audit" class="menu__subitem">Audit</a></li>
      <li><a href="/#consulting" class="menu__subitem">Consulting</a></li>
      <li><a href="/#about-us" class="menu__item">About Us</a></li>
      <li><a href="/#who-we-are" class="menu__subitem">Who We Are</a></li>
      <li><a href="/#our-mission" class="menu__subitem">Our Mission</a></li>
      <li><a href="/#contact-us" class="menu__item">Contact Us</a></li>
    </ul>
  </div>
  <div class="menu__social-icons">
    {% include "social-icons.njk" %}
  </div>
</nav>

<script>
  const menuLogo = document.getElementsByClassName('menu__logo')[0]

  checkPosition = () => {
    const y = window.scrollY;
      if (y > 300) {
        menuLogo.classList.remove('menu__logo_hidden')
        menuLogo.classList.add('menu__logo_visible')
      } else {
        menuLogo.classList.remove('menu__logo_visible')
        menuLogo.classList.add('menu__logo_hidden')
      }
  }

  const showOnLogoScroll = () => {
    requestAnimationFrame(checkPosition)
  }

  window.addEventListener('scroll', showOnLogoScroll);
</script>