<h3>
  <img src="img/text-icons/search.svg" alt="search icon" class="text-icon"/>
  Web Application and Process Audit
</h3>

<ul>
  <li>Codebase. Architecture. Infrastructure. Deployment.</li>
  <li>Testing the application for bugs: functional, usability, logical, etc.</li>
  <li>Quality and efficiency of engineering collaboration.</li>
  <li>Cross-functional processes and infrastructure for teamwork.</li>
</ul>

<p>Based on the audit results, we will prepare a detailed report that will include the result for each item of the conducted audit. In case of identifying problems, we will separately provide recommendations on how to fix each problem in the optimal way.</p>
<p>We will present the report and recommendations at a joint final call.</p>