<div class="separator" /> 

<div>
  <h2>Founders</h2>
  


  {% founder 'Alena Chepalova', 'Chief Executive Officer (CEO)', 'img/founders/alena.avif' %}
    <p>Alena's impressive track record spans nearly 20 years in project and process management in web development, with over five years in executive leadership roles in outsourcing companies.</p> 
    <p>Her strengths lie in implementing processes, following plans, and optimizing everything that can be optimized to ensure the best possible results She prioritizes honesty and attentive listening to the needs of clients or employees in her work.</p>
    <p>During her spare time, she enjoys swimming and playing video games.</p>
  {% endfounder %}

  {% founder 'Sergey Golovin', 'Chief Technology Officer (CTO)', 'img/founders/sergey.avif' %}
    <p>With almost 20 years of experience in project and process management within web development, Alena has spent over 5 years serving as an executive director in outsourcing companies. She has a passion for implementing processes, adhering to plans, and optimizing anything that can be optimized.</p> 
    <p>Alena understands the significance of honesty and actively listening to and comprehending the requirements of clients or employees. </p>
    <p>In her leisure time, she indulges in swimming and playing video games.</p>
  {% endfounder %}

  {% founder 'Andrey Sekirkin', 'Chief Evil Officer (CEO)', 'img/founders/andrey.avif' %}
    <p>With almost 20 years of experience in project and process management within web development, Alena has spent over 5 years serving as an executive director in outsourcing companies. She has a passion for implementing processes, adhering to plans, and optimizing anything that can be optimized.</p> 
    <p>Alena understands the significance of honesty and actively listening to and comprehending the requirements of clients or employees. </p>
    <p>In her leisure time, she indulges in swimming and playing video games.</p>
  {% endfounder %}
</div>

<div class="separator" /> 
