<div class="separator" /> 

<div>
  <h1>Founders</h1>
  {% founder 'Alena Chepalova', 'Chief Executive Officer (CEO)', 'img/founders/alena.avif' %}
    <p>With almost 20 years of experience in project and process management within web development, Alena has spent over 5 years serving as an executive director in outsourcing companies. She has a passion for implementing processes, adhering to plans, and optimizing anything that can be optimized.</p> 
    <p>Alena understands the significance of honesty and actively listening to and comprehending the requirements of clients or employees. </p>
    <p>In her leisure time, she indulges in swimming and playing video games.</p>
  {% endfounder %}

  {% founder 'Sergey Golovin', 'Chief Technology Officer (CTO)', 'img/founders/sergey.avif' %}
    <p>With almost 20 years of experience in project and process management within web development, Alena has spent over 5 years serving as an executive director in outsourcing companies. She has a passion for implementing processes, adhering to plans, and optimizing anything that can be optimized.</p> 
    <p>Alena understands the significance of honesty and actively listening to and comprehending the requirements of clients or employees. </p>
    <p>In her leisure time, she indulges in swimming and playing video games.</p>
  {% endfounder %}

  {% founder 'Andrey Sekirkin', 'Chief Evil Officer (CEO)', 'img/founders/andrey.avif' %}
    <p>With almost 20 years of experience in project and process management within web development, Alena has spent over 5 years serving as an executive director in outsourcing companies. She has a passion for implementing processes, adhering to plans, and optimizing anything that can be optimized.</p> 
    <p>Alena understands the significance of honesty and actively listening to and comprehending the requirements of clients or employees. </p>
    <p>In her leisure time, she indulges in swimming and playing video games.</p>
  {% endfounder %}
</div>

<div class="separator" /> 
