<div class="founders">
  <h2>Founders</h2>
  {% founder 'Alena Chepalova', 'Chief Executive Officer (CEO)', 'img/founders/alena.avif' %}
    <p>Alena's impressive track record spans nearly 20 years in project and process management in web development, with over five years in executive leadership roles in outsourcing companies.</p> 
    <p>Her strengths lie in implementing processes, following plans, and optimizing everything that can be optimized to ensure the best possible results. She prioritizes honesty and attentive listening to the needs of clients or employees in her work.</p>
    <p>During her spare time, she enjoys swimming and playing video games.</p>
  {% endfounder %}

  {% founder 'Sergey Golovin', 'Chief Technology Officer (CTO)', 'img/founders/sergey.avif' %}
    <p>As an accomplished software engineer with more than a decade of experience, Sergey has worked on an extensive range of projects in various capacities, including developer, team leader, software architect, consultant and CTO.</p>
    <p>He is highly proficient at solving technical challenges and identifying the most effective strategies to achieve desired outcomes, while also being skilled at team management.</p>
    <p>Additionally, Sergey is passionate about exploring new technologies and programming languages, and is an active contributor to open source projects. When he's not working, Sergey enjoys playing the guitar and spending time with his furry companions, whom he loves dearly.</p>
  {% endfounder %}

  {% founder 'Andrey Sekirkin', 'Chief Process Officer (CPO)', 'img/founders/andrey.avif' %}
    <p>With over 20 years of experience, Andrey has built an impressive career path, leading and shaping diverse teams. For the past 15 years, he has focused his efforts on the IT industry, where he has acquired significant expertise in creating engineering departments and shaping engineering processes.</p> 
    <p>Andrey is a proponent of a logical and reasonable approach to process building, advocating for the blending of different project management methodologies and the application of systems analysis theory to solve problems, all while maintaining an ethical approach to business management.</p>
    <p>When he's not working, Andrey enjoys exploring the world through travel, practicing freediving, and pursuing underwater photography and videography.</p>
  {% endfounder %}
</div>