<p>1.  <strong>High expertise.</strong> We have extensive experience working on various projects with our technological stack. However, if we have doubts that our team may lack expertise in any area, we will immediately inform you and prefer to decline the project rather than execute it with a risk to your product - we value our reputation.</p>
<p>2.  <strong>Project involvement.</strong> Our main motivation is the success of the product we work on, not sophisticated engineering practices. We strive to be a part of your team to share responsibility and do everything possible to achieve the project's results. We pay special attention to instilling this approach to the products we develop among our employees.</p>
<p>3.  <strong>Responsibility and quality guarantee.</strong> We not only pay close attention to quality, and processes for its control are built into all stages of team work, but also provide a guarantee for the work done.</p>
<p>4.  <strong>Maximum transparency.</strong> We believe that honesty, openness, and transparency are key principles without which long-term and effective relationships with both clients and our employees cannot be built.</p>
<p>5.  <strong>Principle of parity.</strong> We urge our employees, managers, and clients to remember and ensure that the principle of parity is maintained in all relationships, and no party feels disadvantaged. If such a situation arises, we encourage communication so that balance can be restored.</p>