<h3>
  <img src="img/text-icons/rocket.svg" alt="rocket" class="text-icon"/>
  Getting Started
</h3>
<p>After our initial contact with you, we will request a meeting where, in addition to getting to know each other, we will strive to identify the main features of your product, your internal development processes, and the expected scope of work for our team. During this conversation, or shortly thereafter, we will propose and discuss a format for our interaction that will be most optimal for you. We will discuss the composition and required expertise of our team. We will agree on how we receive tasks and how we can discuss them, how we form, estimate, and prioritize the backlog, how we plan tasks, and how we deliver results. We will discuss code quality and style criteria, as well as the quality assurance process and our guarantees.</p>
<h3>
  <img src="img/text-icons/people.svg" alt="people" class="text-icon"/>
  Team Composition
</h3>
<p>
  May vary depending on project needs:
  <ul>
    <li>2 to 5 Software Engineers (including one Team Lead)</li>
    <li>1 to 2 Quality Assurance Engineers</li>
    <li>1 Project Manager</li>
    <li>1 Business or Functional Analyst (optional)</li>
  </ul>

    We believe that teams with more than 10 members are less effective. The number of engineers should not exceed five, as in this case the engineer who performs the role of team lead will not be able to code. Therefore, if necessary, we increase the number of teams rather than expand the existing ones.
</p>

<h3>
  <img src="img/text-icons/puzzle.svg" alt="puzzle" class="text-icon"/>
  Processes
</h3>
<p>Our team will be integrated into your structure in such a way that all types of communication and processes necessary for effective work of the engineering team are established, while the team is not isolated from you and is not a "black box", but on the contrary, is involved in communication and joint work. Our internal processes within the team may differ from those of other teams on the project, but in such a way as not to affect the efficiency of joint work.</p>
<h3>
  <img src="img/text-icons/bug.svg" alt="bug" class="text-icon"/>
  Quality
</h3>
<p>We guarantee the quality to the client using test cases, the composition of which we coordinate with you, and you can be sure that all the results of our work will be of proper and predictable quality. In addition, it is extremely important for us that our clients do not feel dependent on our team. Therefore, an internal criterion that guides the team is to maintain the entrusted scope of work in such a condition that it can be continued at any time by any other team with similar expertise.</p>