<div class="peace">
  <img src="img/pigeon.svg" alt="pigeon of peace" class="peace__img" />
  <div class="peace__text">
    We believe that in the modern world, there can be no tolerance for acts of war. The tragic events that took place in Ukraine have left us shocked and deeply disturbed. 
  </div>
  <div class="peace__subtext">
    Until the conflict is resolved, we have made the decision to refrain from conducting any business with companies operating under the jurisdiction of the Russian Federation. 
  </div>
</div>