---
layout: layouts/base.njk
---
<img src="img/404.png" alt="a cute monster didn't find a page" />
<h1>Ooops... 404. We tries to find the page you asked, but we couldn't :(</h1>
<span>Maybe it's better to check out our <a href="/">main page</a></span>


{{ content | safe }}
