<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <meta content="website" property="og:type">
    <meta content="https://spacetwistie.com/" property="og:url">
    <meta content="Space Twistie" property="og:site_name">
    <meta content="Expertise. Transparency. Quality." property="og:title">
    <meta content="Developing custom web applications of any complexity to meet your unique business needs. We specialize in outsourcing and provide expert assistance to you." property="og:description">
    <meta content="/img/preview.png" property="og:image">
    <meta content="1200" property="og:image:width">
    <meta content="630" property="og:image:height">

    <meta content="https://spacetwistie.com/" name="twitter:site">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="Expertise. Transparency. Quality." name="twitter:title">
    <meta content="Developing custom web applications of any complexity to meet your unique business needs. We specialize in outsourcing and provide expert assistance to you." name="twitter:description">
    <meta content="/img/preview.png" name="twitter:image">

    <link href="apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300" rel="stylesheet">

    {%- css %}{% include "public/css/index.css" %}{% endcss %}

    <style>{% getBundle "css" %}</style>
  </head>
  <body>
    {% include "menu.njk" %}
    <div class="content">

      <main>
        {{ content | safe }}
      </main>

      <footer></footer>
    </div>
  </body>
</html>